.nimatabs {
    $imageSize: 15rem;
    margin: 1rem auto;
    background: radial-gradient(circle at center, #ff9900, #ff3300);

    &__img {             
        padding: 1rem auto;
        text-align: center;
    
        .cmp-image__image {
            width: $imageSize;
            height: $imageSize;
            border-radius: $imageSize / 2;
            object-fit: cover;
            }
    }
    
    &__title {
        color: rgb(0, 0, 92);
        text-align: center;
        margin-right: 1rem;
    }

    &__details {
        display: grid;
        grid-template-columns: 10fr 2fr;        
        border-top: 2px solid lightgray;        
        padding: 0.7rem 1rem;
        margin-bottom: 2rem;
        
        &-text {
            font-size: 1rem;
        }

        &-id {
            color: skyblue;
            text-align: right;
        }
    }
}